<div id="startchange"></div>
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" ng-click="ctrl.goToLocation('startchange')"><img src="/assets/brand.png" alt="brand"></a>
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar3">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div id="navbar3" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li ng-click="ctrl.goToLocation('profile')" class="noselect nav-item"><span>PERFIL</span></li>
        <li ng-click="ctrl.goToLocation('projects')" class="noselect nav-item"><span>PROYECTOS</span></li>
        <li ng-click="ctrl.goToLocation('contact')" class="noselect nav-item"><span>CONTACTO</span></li>
      </ul>
    </div>
  </div>
</nav>

<!-- Begin Carousel -->
<div class="carousel-content">
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
      <li data-target="#myCarousel" data-slide-to="3"></li>
    </ol>

    <div style="height:800px;" class="carousel-inner" role="listbox">
      <div style="; background-image: url('/assets/slide01.jpg');" class="parallax-carousel item active">
      </div>

      <div style="background-image: url('/assets/slide02.jpg');" class="parallax-carousel item">
      </div>

      <div style="background-image: url('/assets/slide03.jpg');" class="parallax-carousel item">
      </div>

      <div style="background-image: url('/assets/slide04.jpg');" class="parallax-carousel item">
      </div>
    </div>

    <a class="left carousel-control" data-target="#myCarousel" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>

    <a class="right carousel-control" data-target="#myCarousel" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>

<!-- End carousel -->


<div class="wrapper">
  <!--  Profile section-->
  <div id="profile" class="parallax profile-parallax-image profile">
      <div class="container center">
          <div class="row">
            <div class="col-md-3 col-xs-4 col-md-offset-2 col-md-offset-2">
                <img class="profile-picture_decoration-top" src="assets/profile-picture-decoration.png" alt="">
                <img class="profile-picture" src="assets/profile-picture.png" alt="">
                <img class="profile-picture_decoration-bottom" src="assets/profile-picture-decoration.png" alt="">
            </div>
            <div class="col-md-3 col-xs-5">
                <div class="profile-title">
                    <h2>CAMILA</h2><br>
                    <h2>AGUIRRE DIAZ</h2>
                </div>

                <div class="profile-description">
                    <div class="profile-description_triangle"></div>
                    <div class="profile-description_text">
                        <p>Diseñadora gráfica de la Universidad Pontifica Bolivariana, con experiencia en la elaboración de piezas gráficas para contenidos educativos digitales. Me apasiona el diseño editorial, la ilustración, la infografía, la fotografía y la  literatura, elementos que busco integrar a través de mi propio estilo.</p>
                        <p>Soy una persona creativa, comprometida, organizada y responsable con lo que hago. Con buenas relaciones interpersonales y buena actitud y disposición a la hora de trabajar en equipo, pues considero que esto es esencial para llegar a un buen resultado.</p>
                    </div>
                </div>
            </div>
          </div>
          <div class="container center">
              <div class="row">
                  <div class="col-md-5 col-xs-7 col-xs-offset-4 col-md-offset-5">
                      <h2>Intereses</h2>
                      <div class="hobbie">
                          <i style="left:5px; top:3px;" class="hobbie-icon fa-3x fa fa-paw " aria-hidden="true"></i>
                      </div>
                      <div class="hobbie">
                          <i style="left:10px; top:10px;" class="fa-2x hobbie-icon fa fa-camera" aria-hidden="true"></i>
                      </div>
                      <div class="hobbie">
                          <i style="left:5px; top:5px;" class="fa-3x hobbie-icon fa fa-headphones" aria-hidden="true"></i>
                      </div>
                      <div class="hobbie">
                          <i style="left:8px; top:7px;" class="fa-3x hobbie-icon fa fa-plane" aria-hidden="true"></i>
                      </div>
                      <div class="hobbie">
                          <i style="left:10px; top:10px;" class="fa-2x hobbie-icon fa fa-paint-brush" aria-hidden="true"></i>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <!-- End profile section -->

  <!-- <div id="projects" class="parallax projects-parallax-image projects"> -->
<div id="projects" style="background-size:cover; background-position:center; background-repeat: no-repeat;" class="projects-parallax-image projects">
    <div class="row">
      <div class="col-xs-6 col-md-3 col-md-offset-1">
          <h2>Proyectos</h2>
          <div class="project-section">
            <span class="project-section_icon glyphicon glyphicon-phone"></span>
            <span class="project-section_label">Apps</span>
          </div>
      </div>
    </div>

    <!-- Seccion applicaciones -->
    <div class="container center">
      <div class="row">
        <div ng-repeat="(projectName, projectImages) in ctrl.apps " class="col-xs-6 col-md-3">
          <span class="thumbnail openModal" ng-click="ctrl.openModal(projectName, projectImages.related)">
            <img ng-src="{{projectImages.main}}" alt="{{name}}">
          </span>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-6 col-md-3 col-md-offset-1">
          <div class="project-section">
            <span class="project-section_icon glyphicon glyphicon-pencil"></span>
            <span class="project-section_label">Ilustración</span>
          </div>
      </div>
    </div>
    <!-- Seccion ilustraciones -->
    <div class="container center">
      <div class="row">
        <div ng-repeat="(projectName, projectImages) in ctrl.apps " class="col-xs-6 col-md-3">
          <span class="thumbnail openModal" ng-click="ctrl.openModal(projectName, projectImages.related)">
            <img ng-src="{{projectImages.main}}" alt="{{name}}">
          </span>
        </div>
      </div>
    </div>
  </div>

  <div class="parallax contact-parallax-image">
    <div id="contact" class="container">
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <form id="target">
            <div class="form-group">
              <label for="inputName">Nombre</label>
              <input type="text" class="form-control" id="inputName" placeholder="Ingresa tu nombre">
            </div>

            <div class="form-group">
              <label for="inputEmail">Email</label>
              <input type="email" class="form-control" id="inputEmail" aria-describedby="emailHelp" placeholder="Ingresa tu email">
              <small id="emailHelp" class="form-text text-muted">Puedes estar tranquil@, no compartiré este email con nadie</small>
            </div>

            <div class="form-group">
              <label for="exampleTextarea">Mensaje</label>
              <textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
            </div>
            <button type="submit" class="btn btn-primary" disabled>Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
