/*raleway*/
body, html {
    height: 100%;
}
br, h1 {
  padding: 0;
  margin: 0;
}

.navbar-default {
    background-color: transparent;
    border-color: transparent;
    margin-bottom: 0px;
    position: fixed;
    width: 100%;
    border-radius: 0px;
    z-index: 10007;
}

.parallax {
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.carousel-content{
  width: 100%;
}

.wrapper {
  display: none;
  height: 700px;

}

.profile-parallax-image {
  background-image: url("/assets/background.jpg");
}
.projects-parallax-image {
  background-image: url("/assets/slide02.jpg");
}
.contact-parallax-image {
  background-image: url("/assets/slide01.jpg");
}
