/*raleway*/
body, html {
    height: 100%;
}
br, h1 {
  padding: 0;
  margin: 0;
}

.navbar-default {
    background-color: transparent;
    border-color: transparent;
    margin-bottom: 0px;
    position: fixed;
    width: 100%;
    border-radius: 0px;
    z-index: 10007;
}

.navbar-brand img{
  width: 800%;
  position: absolute;
  top:10px;
  left:100px;
}
.navbar-brand{
  position: relative;
}

.nav >li >a {
  padding-top: 30px;
  padding-bottom: 30px;
}

.navbar-toggle {
  padding: 10px;
  margin: 25px 15px 25px 0;
}

.parallax {
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.carousel-content{
  /*width: 100%;*/
}

.carousel-inner > .item > img {
    margin: 0 auto;
}

/*.wrapper {
  display: none;
}*/

.profile-parallax-image {
  background-image: url("/assets/background.jpg");
}
.projects-parallax-image {
  background-image: url("/assets/slide02.jpg");
}
.contact-parallax-image {
  background-image: url("/assets/background02.png");
}


.project-section {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 30px 0 50px 0;
}

.project-section_icon{
  position: absolute;
  padding: 0 10px 0px 0px;
  font-size: 30px;
  left: 10px;
  top: 20px;

}
.project-section_label {
  font-size: 25px;
  position: absolute;
  left: 50px;
  top: 15px;
}
.modal{
  top: 100px;
}

.openModal {
  cursor: pointer;
}
 /* Profile */
 .profile {
     padding: 100px 0 10px 0;
     height: 650px;
 }
.profile-picture {
    border-radius: 50%;
    border: 5px solid #A7DFDD;
    width: 200px;
    position:relative;
}
.profile-picture_decoration-top{
    position: absolute;
    width: 150px;
    top: -30px;
    left: -20px;
}
.profile-picture_decoration-bottom{
    position: absolute;
    width: 150px;
    top: 85px;
    left: 95px;
    -moz-transform: scale(-1, -1);
    -o-transform: scale(-1, -1);
    -webkit-transform: scale(-1, -1);
    transform: scale(-1, -1);
}
.profile-description {
    width: 500px;
    /*height: 300px;*/
    background-color: #A7DFDD;
    position: relative;
}

.profile-description_triangle {
    width: 0;
    height: 0;
    position: absolute;
    left: -20px;

    border-left: 20px solid transparent;
    border-right: 20px solid transparent;

    border-top: 20px solid #A7DFDD;
}
.profile-description_text p{
    position: relative;
    padding: 10px;
    text-align: justify;
}
.profile-title {
    padding: 0 0 30px 0;
    margin: 10px 0;

}

.profile-title h2 {
    padding: 0;
    margin: 0;
}

.hobbie {
    position: relative;
    background-color: #1896A4;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    float: left;
    margin: 0 20px 0 0;
}
.hobbie-icon {
    position: absolute;
    color: white;
}
 /* End Profile */

@media (min-width: 768px) {
  .modal-dialog {
    width: 90%;
    margin: 30px auto;
  }
}
